@import "src/App";

.form__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
  &--input {
    display: flex;
    flex-direction: column;
  }
  &--dropdown {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
input {
  @include styling;
  padding: 10px 2em;
  margin-bottom: 5px;
}
