.form__footer {
  padding: 2rem 0 0;
  button {
    float: right;
    padding: 0.5rem;
  }
  .form-close {
    background-color: transparent;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #8C8C8C;
    &:hover {
      color: rgba(54, 67, 72, 0.8);
    }
  }
  .submit {
    margin-right: 1rem;
    background-color: rgba(54, 67, 72, 0.8);
    color: #fff;
    border-radius: 4px;
    border: none;
    &:hover {
      background-color: #8C8C8C;
    }
  }
}
